.alert.alert-info{style: 'margin-bottom: 5px;'}
  %button.close{type: :button, data:{dismiss: :alert}}
    &times;
  = brand.name
  %input{id: "#{params[:model]}_brand_ids_#{brand.id}", name: "#{params[:model]}[brand_ids][]", value: brand.id, type: :hidden}
 
