= link_to glyph(:search), category_path(category), class: 'btn btn-mini'
= link_to glyph(:edit), edit_category_path(category), class: 'btn btn-mini'
- unless category.depth == 2
  = link_to glyph(:plus), new_category_category_path(category), class: 'btn btn-mini btn-success'


= link_to glyph(:remove), category_path(category), :data => {method: :delete,  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'btn btn-mini btn-danger'
