%legend
  Listing Review
%table.table.table-striped.table-bordered
  - %w(csi_id phone name place date1 date2).each do |attr|
    %th=attr
  - for review in @reviews
    %tr
      - %w(csi_id phone name place date1 date2).each do |attr|
        %td=review.send(attr)

= link_to 'new review', new_review_path, class: :btn


  




